html {
  font-size: 10px;
  height: 100%; }

body {
  height: 100%;
  width: 100%;
  background: #F9F7F7; }

h1 {
  font-size: 8rem; }

h2 {
  font-size: 5rem; }

h3 {
  font-size: 8rem; }

h4 {
  font-size: 8rem; }

h5 {
  font-size: 8rem; }

h6 {
  font-size: 8rem; }

p {
  font-size: 3rem; }

li {
  font-size: 4rem; }

.clickable {
  cursor: pointer; }

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; }
  .cards-container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #112D4E;
    color: #F9F7F7;
    width: 75%;
    height: 80%;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3), -2px 0px 5px rgba(0, 0, 0, 0.3); }
    .cards-container .card .card-heading {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 15% 0;
      box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5); }
      .cards-container .card .card-heading .image-container {
        min-height: 200px;
        max-width: 200px;
        overflow: hidden;
        background-color: #112D4E;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3), -2px 0px 5px rgba(0, 0, 0, 0.3);
        margin: 0% 30%; }
        .cards-container .card .card-heading .image-container img {
          width: 100%; }
      .cards-container .card .card-heading .title-container {
        text-align: center; }
    .cards-container .card .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 80%;
      width: 100%; }
      .cards-container .card .card-body .skill-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        width: 100%;
        height: 30%;
        margin-top: 10%;
        margin-bottom: 2%; }
        .cards-container .card .card-body .skill-container ul {
          list-style: none; }
        .cards-container .card .card-body .skill-container .skills {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
          height: 75%; }
          .cards-container .card .card-body .skill-container .skills .skill i {
            margin-right: 1em;
            text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3), -2px 0px 5px rgba(0, 0, 0, 0.3); }
        .cards-container .card .card-body .skill-container .bars-container {
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          align-items: flex-end;
          width: 50%;
          height: 100%; }
          .cards-container .card .card-body .skill-container .bars-container .bar {
            width: 20%;
            background-color: #F9F7F7;
            height: 60%;
            box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3), -2px 0px 5px rgba(0, 0, 0, 0.3); }
          .cards-container .card .card-body .skill-container .bars-container .bar-1 {
            height: 60%; }
          .cards-container .card .card-body .skill-container .bars-container .bar-2 {
            height: 80%; }
          .cards-container .card .card-body .skill-container .bars-container .bar-3 {
            height: 100%; }
        .cards-container .card .card-body .skill-container .bar.info-color-1 {
          background-color: #189BFA; }
        .cards-container .card .card-body .skill-container i.info-color-1 {
          color: #189BFA; }
        .cards-container .card .card-body .skill-container .bar.info-color-2 {
          background-color: #5ACFD6; }
        .cards-container .card .card-body .skill-container i.info-color-2 {
          color: #5ACFD6; }
        .cards-container .card .card-body .skill-container .bar.info-color-3 {
          background-color: #D2FAFB; }
        .cards-container .card .card-body .skill-container i.info-color-3 {
          color: #D2FAFB; }
      .cards-container .card .card-body .bio-container {
        height: 22%;
        width: 70%;
        position: relative;
        overflow: hidden;
        margin-top: 2%; }
        .cards-container .card .card-body .bio-container .bio {
          margin-top: 2%;
          border-top: 2px solid white; }
        .cards-container .card .card-body .bio-container .fadeout-section {
          position: absolute;
          background: linear-gradient(to top, #112D4E, #112D4E, transparent);
          bottom: 0;
          width: 100%;
          height: 80%;
          text-align: center; }
      .cards-container .card .card-body .action-container {
        display: flex;
        justify-content: space-between;
        align-content: space-around;
        width: 90%;
        padding: 3rem 3rem; }
        .cards-container .card .card-body .action-container i {
          font-size: 5rem; }

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  h1 {
    font-size: 8rem; }
  h2 {
    font-size: 5rem; }
  h3 {
    font-size: 4rem; }
  h4 {
    font-size: 2rem; }
  h5 {
    font-size: 3rem; }
  h6 {
    font-size: 8rem; }
  p {
    font-size: 2rem; }
  li {
    font-size: 2rem; }
  .cards-container .card {
    width: 33%; } }

/* ----------- Retina Screens ----------- */
