// Colors
    $a : #F9F7F7;
    $b : #DBE2EF;
    $c : #3F72AF;
    $d : #112D4E;
    $e : #189BFA;
    $f : #5ACFD6;
    $g : #D2FAFB;
    $h : #0C4B8E;
html{
    font-size:10px;
    height:100%;
}
body{
    height:100%;
    width:100%;
    background:$a;
}
h1{
    font-size:8rem;
}
h2{
    font-size:5rem;
}
h3{
    font-size:8rem;
}
h4{
    font-size:8rem;
}
h5{
    font-size:8rem;
}
h6{
    font-size:8rem;
}
p{
    font-size:3rem;
}
li{
    font-size:4rem;
}
.clickable{
    cursor:pointer;
}
.cards-container{
    display: flex;
    justify-content: center;
    align-items:center;

    height:100vh;
    width:100%;
    
    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        background-color:$d;
        color:$a;
        width:75%;
        height:80%;
        border-radius:40px;
        overflow: hidden;
        box-shadow: 2px 0px 5px rgba(0,0,0,0.3), -2px 0px 5px rgba(0,0,0,0.3);

        .card-heading{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width:100%;
            height:100%;
            padding:15% 0;
            box-shadow: 0px 7px 10px rgba(0,0,0,0.5);

            .image-container{
                min-height:200px;
                max-width:200px;
                overflow: hidden;
                background-color:$d;
                box-shadow: 2px 0px 5px rgba(0,0,0,0.3), -2px 0px 5px rgba(0,0,0,0.3);
                margin: 0% 30%;

                img{
                    width:100%;
                }
            }
            .title-container{
                text-align: center;
                .name{

                }
                .job-title{

                }
            }
        }

        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 80%;
            width:100%;
                .skill-container{
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-around;
                    width: 100%;
                    height: 30%;
                    margin-top:10%;
                    margin-bottom:2%;
                ul{
                    list-style: none;
                }
                .skills{

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    height:75%;
                    .skill{
                        i{
                            margin-right:1em;
                            text-shadow: 2px 0px 5px rgba(0,0,0,0.3), -2px 0px 5px rgba(0,0,0,0.3);

                        }
                    }
                }
                .bars-container{
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    align-items:flex-end;
                    width:50%;
                    height:100%;
                
                    .bar{
                        width:20%;
                        background-color:$a;
                        height:60%;
                        box-shadow: 2px 0px 5px rgba(0,0,0,0.3), -2px 0px 5px rgba(0,0,0,0.3);
                    }
                    .bar-1{
                        height:60%;
                    }
                    .bar-2{
                        height:80%;
                    }
                    .bar-3{
                        height:100%;
                    }
                }
                .bar.info-color-1{
                    background-color:$e;
                }
                i.info-color-1{
                    color:$e;
                }
                .bar.info-color-2{
                    background-color:$f;
                }
                i.info-color-2{
                    color:$f;
                }
                .bar.info-color-3{
                    background-color:$g;
                }
                i.info-color-3{
                    color:$g;
                }

            }
            .info-container{
                height: 22%;
                width: 70%;
                position: relative;
                overflow: hidden;
                margin-top:2%;
                .bio{
                    margin-top:2%;
                    border-top:2px solid white;
                }
                .fadeout-section{
                    position: absolute;
                    background: linear-gradient(to top, $d, $d, transparent);
                    bottom: 0;
                    width: 100%;
                    height:80%;
                    text-align: center;
                }
            }
            .action-container{
                display: flex;
                justify-content: space-between;
                align-content: space-around;
                width:90%;
                padding: 3rem 3rem;

                .action{
                }
                i{
                    font-size:5rem;
                }
            }
        }

    }

}


/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
        h1{
            font-size:8rem;
        }
        h2{
            font-size:5rem;
        }
        h3{
            font-size:4rem;
        }
        h4{
            font-size:2rem;
        }
        h5{
            font-size:3rem;
        }
        h6{
            font-size:8rem;
        }
        p{
            font-size:2rem;
        }
        li{
            font-size:2rem;
        }
      .cards-container{
          .card{
              width:33%;
          }
      }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}